body {
  font-family: Arial;
  font-size: 15px;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

/*
Align items default is to stretch to the size relative to it's button.
*/

.name-input,
.date-input,
.add-button {
  padding: 7px;
}

.add-button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-button {
  background-color: rgb(146, 27, 27);
  color: white;
  border: none;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
}